
<div class="jumbotron center">
  
<h1>Home#index</h1>
<h1>Changed route ROOT</h1>
<p>Find me in app/views/home/index.html.erb</p>
  
  <% if user_signed_in? %>
        
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
        
        
        <% else %>
        
        <%= link_to "Login", new_user_session_path, class: 'btn btn-info' %>
        
        <%= link_to "Join", new_user_registration_path, class: 'btn btn-default' %>
        
        <% end %>
  
<!--   <%= link_to "Login", new_user_session_path, class: 'btn btn-default' %>
  <%= link_to "Join", new_user_registration_path, class: 'btn btn-primary' %> -->
  
<!--   
  <button class="btn btn-default" type="submit">Login</button>
  <button class="btn btn-primary" type="submit">Join</button> -->
  
</div>